html{
    background-color: #white;
}
h1,h2{
    color: white;
}
ol li{
    color: black;
    font-size: 17px;
    line-height: 1.5;
    font-weight: italic;
}
ul li{
    color:  palegoldenrod;
    font-size: 13px;
}
