html{
    background-color: white;
}
h1,h2{
    color: black;
}
ol li{
    color: black;
    font-size: 17px;
    line-height: 1.5;
    
}
ul li{
    color:  gray;
    font-size: 14px;
    font-weight: italic;
}
